@font-face {
    font-family: 'Sacramento', cursive;
    font-style: normal;
    src: local('Sacramento'), local('Sacramento'),
        url("https://fonts.googleapis.com/css?family=Sacramento&display=swap")
}
.rHeader {
    font-family: 'Sacramento', cursive;
    background-color: #D5CFe1;
    height: 80px;
    padding: 30px;
    color: #464655;
    margin-bottom: 2rem;
    text-align: left;
}


.appText {
    font-family: 'Sacramento', cursive;
    font-size: 28px;
}


.App {
    padding: 2em;
    height: 40px;
    text-align: center;

}


.Title {
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    text-align: center;
    color: black;
    margin: 20px;
    font-size: 24px;
    line-height: 32px;
}

.rFooter {
    bottom: 0;
    text-align: center;
    height: 80px;
    padding: 0;
    margin: 0;
    position: fixed;
    font-family: 'Sacramento', cursive;
}
