@font-face {
    font-family: 'Sacramento', cursive;
    font-style: normal;
    src: local('Sacramento'), local('Sacramento'),
        url("https://fonts.googleapis.com/css?family=Sacramento&display=swap")
}
.rHeader {
    font-family: 'Sacramento', cursive;
    background-color: #D5CFe1;
    height: 80px;
    padding: 30px;
    color: #464655;
    margin-bottom: 2rem;
    text-align: left;
}


.appText {
    font-family: 'Sacramento', cursive;
    font-size: 28px;
}



.recipeCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    padding-top: 20px;
    border-radius: 20px;
    max-width: 100%;
    height: 0%;
	border-radius: 3px;
	color: #000;
    margin: 0 10px 15px;
    position: relative;

}

.recipeContainer {
    padding: 2em;

}

.Image {
    display: flex;
    position: absolute;
    height: 220px;

}

.App {
    padding: 2em;
    height: 40px;
    text-align: center;

}


.Title {
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    text-align: center;
    color: #000;
    margin: 20px;
    font-size: 24px;
    line-height: 32px;
}

.rFooter {
    position: absolute;
    bottom: 0;
    text-align: center;
}
